#binary directoris
/Release/
/Debug/

#all hidden files(except .gitignore)(These are mainly Eclipse IDE related files)
.*
!/.gitignore

#not including resources directory, which is extremely important for running this game(I cannot upload this to online repository)
/resources/
